.single-post .vabio-panel-grid .entry-content {
	text-align: left;
}

.single-post .vabio-panel-grid .entry-content p {
	margin-bottom: 1.618rem;
}

.hentry .vabio-panel-grid .wp-post-image {
	margin-bottom: 0;
}

div#vabio-author-bio-post {
	padding: 2% 5% 2% 5%;
	border: 1px solid #dbdbdb;
}

.vabio-bio-header {
	text-align: center;
}

.vabio-border-bottom-grey {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.vabio-all-caps {
	text-transform: uppercase;
}

.vabio-inline {
	display: inline;
}

.vabio-text-align-left {
	text-align: left;
}

.vabio-text-align-center {
	text-align: center;
}

.vabio-panel-grid > * {
	flex: 1 100%;
}

.vabio-panel-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.vabio-panel-grid {
	padding: 0.618rem 0;
}

.vabio-panel-grid p.entry-title {
	font-weight: bold;
}

.panel-grid-cell.vabio-image-cell {
	flex: 100%;
	margin-bottom: 1.618rem;
}

.vabio-panel-grid .entry-title a {
	color: #2c2d33;
}

.content-area .panel-grid.vabio-panel-grid {
	margin-bottom: 1.618rem !important;
}

.panel-grid-cell.vabio-content-cell {
	flex: 1;
}

@media (min-width: 780px) {
	.vabio-panel-grid {
		flex-wrap: nowrap;
	}

	.panel-grid-cell.vabio-content-cell {
		flex: 1;
		margin: 0;
	}

	.panel-grid-cell.vabio-image-cell {
		flex: 0.7;
		margin-right: 1.618rem;
		margin-bottom: 0;
	}

	.panel-grid-cell.vabio-content-cell {
		margin: 0 1.618rem;
	}
}